<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.runningtracker">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".TrackingNotification"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RunningTracker" >

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key"/>

        <service
            android:name=".TrackingService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />

        <provider
            android:name=".provider.RunningTrackerContentProvider"
            android:authorities="com.example.runningtracker.provider.RunningTrackerContentProvider"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>